#clockContainer {
  position: relative;
  height: 45vw;
  width: 45vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin: auto;
}
#hour,
#minute,
#second {
  position: absolute;
  background: #000;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.8%;
  height: 30%;
  top: 20%;
  left: 48.9%;
  opacity: 0.8;
}
#minute {
  width: 1.6%;
  height: 35%;
  top: 15%;
  left: 49%;
  opacity: 0.8;
}
#second {
  width: 1.2%;
  height: 40%;
  top: 10%;
  left: 49.22%;
  opacity: 0.8;
}
